
.page-wraper{
    display: flex;
    justify-content: center;
}

.page-wraper .mainClient-page-wraper{
    /* padding: 15em; */
    /* background-color:  #E0E0DE; */
    /* border: 1px solid black; */
    width: 30%;

}  
.page-wraper .mainClient-page-wraper .mainClient-page{
    padding: 15em 0;
    /* background-color: blue; */
    max-width: 100%;
    /* max-width: 30%\; */
    display: flex;
    justify-content: center; 
    /* justify-content: space-around; */

}

.page-wraper .mainClient-page-wraper .mainClient-page .buttonContainer-client{
  
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   max-width: 20%;
}


.page-wraper .mainClient-page .buttonContainer-client button {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    font-size: 24px;  
    padding:  8px 10px ;
    margin: 0em;

}

/* .page-wraper{
    background-color: pink;
    max-width: 100%;
   height: 100vh;

   display: flex;
   justify-content: center;
} */
/* .page-wraper .mainClient-page-wraper{
    background-color: red;
    width: 50%;

}    */
/* .page-wraper .mainClient-page-wraper .mainClient-page{
    padding: 15em 0em;
    background-color: aquamarine;

    display: flex;
    justify-content: center; 

    

} */
/* .buttonContainer-client{
  
    display: flex;
    flex-direction: column;
   justify-content: space-evenly;
   max-width: 20%;
} */

/* .page-wraper .mainClient-page .buttonContainer-client button {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    font-size: 24px;  


} */

@media screen and (max-width: 820px) {
    .page-wraper .mainClient-page-wraper{
        /* padding: 15em; */
        /* background-color: red; */
        width: 100%;
    
    }   
    .page-wraper .mainClient-page-wraper .mainClient-page{
        padding: 15em 0;
        /* background-color: blue; */
        max-width: 100%;
        /* max-width: 30%\; */
        display: flex;
        justify-content: center; 
        /* justify-content: space-around; */

    }



    .buttonContainer-client{
  
        display: flex;
        flex-direction: column;
       justify-content: space-evenly;
       max-width: 20%;
    }


    .page-wraper .mainClient-page .buttonContainer-client button {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
        font-size: 24px;  
    
    }

}