.page-wraper {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  height: 100vh;
  padding-top: 0.5%;
  background-color: rgb(190, 190, 190);
}

.page-wraper .mainClient-page-wraper {
  background-color: #e0e0de;
  width: 30%;
  margin-bottom: 1.3em;
  position: relative;
}

.page-wraper .mainClient-page-wraper .content-mainclient {
  position: absolute;
  padding-top: 1em;
  width: 100%;
  text-align: center;
}
.page-wraper .mainClient-page-wraper .content-mainclient span {
}

.page-wraper .mainClient-page-wraper .mainClient-page .buttonContainer-client {
  padding: 10em 0em;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  max-width: 20%;
}

.page-wraper .mainClient-page .buttonContainer-client button {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  max-width: 100%;
  font-size: 24px;
  width: 9em;
}

/* -----------responsive page----------------- */
@media screen and (max-width: 1038px) and (min-width: 821px) and (-webkit-min-device-pixel-ratio: 2) {
  .page-wraper {
    padding-top: 0px;
    overflow-y: hidden;
  }
  .page-wraper .mainClient-page-wraper {
    width: 40%;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 912px) and (max-width: 1368px) {
  .page-wraper {
    padding-top: 0px;
    overflow-y: hidden;
  }
  .page-wraper .mainClient-page-wraper {
    width: 70%;
    margin-bottom: 3em;
    margin-top: 3em;
  }
  .page-wraper .mainClient-page-wraper .mainClient-page {
    padding: 15em 0;
    max-width: 100%;
    display: flex;
    justify-content: center;
  }

  .page-wraper .mainClient-page-wraper .mainClient-page .buttonContainer-client {
    padding-left: 5em 0em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    max-width: 20%;
  }

  .page-wraper .mainClient-page .buttonContainer-client button {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: 24px;
    width: 9em;
  }
}

@media screen and (max-width: 820px) {
  .page-wraper {
    padding-top: 0px;
    overflow-y: hidden;
  }
  .page-wraper .mainClient-page-wraper {
    width: 100%;
    margin-bottom: 0;
  }
  .page-wraper .mainClient-page-wraper .mainClient-page {
    padding: 15em 0;
    max-width: 100%;
    display: flex;
    justify-content: center;
  }

  .page-wraper .mainClient-page-wraper .mainClient-page .buttonContainer-client {
    padding-left: 5em 0em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    max-width: 20%;
  }

  .page-wraper .mainClient-page .buttonContainer-client button {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: 24px;
    width: 9em;
  }
}

@media screen and (max-width: 820px) and (-webkit-min-device-pixel-ratio: 2) {
  .page-wraper {
    padding-top: 0px;
    overflow-y: hidden;
  }
  .page-wraper .mainClient-page-wraper {
    width: 100%;
    margin-bottom: 0;
  }
  .page-wraper .mainClient-page-wraper .mainClient-page {
    padding: 15em 0;
    max-width: 100%;
    display: flex;
    justify-content: center;
  }

  .page-wraper .mainClient-page-wraper .mainClient-page .buttonContainer-client {
    padding-left: 5em 0em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    max-width: 20%;
  }

  .page-wraper .mainClient-page .buttonContainer-client button {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: 24px;
    width: 9em;
  }
}

/* 280 max-width screens */
@media screen and (max-width: 281px) and (max-width: 654px) {
  #button-30 {
    font-size: 0.5px important!;
    padding: 5.8em;
  }
}
@media screen and (max-width: 281px) and (-webkit-min-device-pixel-ratio: 1) {
  .page-wraper {
    padding-top: 0px;
    overflow-y: hidden;
  }
  .page-wraper .mainClient-page-wraper {
    width: 100%;
    margin-bottom: 0;
  }
  .button-30 {
    font-size: 1em important!;
  }
}
