.navBar-Client{
    display: flex;
   /* position: sticky; */
   /* background-color: white; */
   /* position: fixed; */
   /* z-index: 15; */
   width:  100%;
   background-color: #5a607e  ;
   justify-content: center;
   /* padding: 1em 0em; */
 }
 .navBar-Main h1{
 
    background-color: red;
    text-align: center;
 
    
 }