.Footer {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  background-color: #2f3c7e;
  padding: 2em 3.5em;
}
.Footer .left-Fotter-container {
  display: flex;
  justify-content: start;
  /* --------------------------------------------For The Logo */
  align-items: center;
  width: 50%;
  align-items: center;
}
.Footer .left-Fotter-container p {
  color: #c0c0c0;
  font-size: 10px;
}

.Footer .right-Fotter-container {
  width: 50%;
  display: flex;
  justify-content: end;
}
.Footer .right-Fotter-container ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.Footer .right-Fotter-container ul a {
  text-decoration: none;
}
.Footer .right-Fotter-container ul li {
  list-style: none;
  padding-left: 1em;
  color: #a9a9a9;
  font-size: 25px;
}
.Footer .right-Fotter-container ul li :hover {
  color: #c0c0c0;
}

/*       max Screen Width 590 px        */
@media screen and (max-width: 590px) {
  .Footer {
    display: flex;
    flex-direction: column-reverse;
  }
  .Footer .left-Fotter-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    align-items: center;
  }
  .Footer .right-Fotter-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}
