/* Importent Notes!! */

/* Main Font Famiily ! --->    font-family: Ploni aaa,sans-serif;*/
* {
  text-decoration: none;
  padding: 0;
  margin: 0;
}

body {
  /* background-color:rgb(190, 190, 190); */
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --ws-red: #e83b45;
  --dc-teal: #21e496;
  --op-violet: #2b388f;
  --hs-yellow: #fabd2f;
  --dm-royalblue: #0078f6;
  --primary: #313131;
  --secondary: #954bff;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;
  --coral: #f37460;
  --smoke: #f9f9f9;
  --white: #fff;
  --black: #000;
  --action: #006dff;
  --support: #21e496;
  background: linear-gradient(88.99deg, #ffdada 20.95%, rgba(255, 235, 164, 0.35) 88.38%);
  background-size: cover;
}
/* ticket company */
.form-alerts-sec {
  position: fixed;
  bottom: 25px;
   right: 0px;
   background-color: whitesmoke;
  z-index: 90;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
  width: 60px;
  height: 150px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  

}
.form-alerts-sec .content{
  font-size: 1rem;
  color: black;
  text-align: center;
  width: 150%;
  height: 72%;
  text-transform: lowercase;
  letter-spacing: 3px;
  transform: rotate(-90deg);
  position: absolute;
  bottom: 0;
  left: 0;
  margin-left: -30px;
  
}

/* CSS specific to iOS devices */
@supports (-webkit-touch-callout: none) {
  button {
    -webkit-appearance: none;
    -webkit-border-radius: 0;
  }
}
.page-wrap {
  height: 800px;
}
.page-wrap .topFirst-container {
  position: sticky;
  overflow: hidden;
  top: 0;
  height: 90px;
  z-index: 3;
  max-width: 100%;
  background-image: url('/public/assets/pexels-fauxels-3183197.jpg');
  background-repeat: no-repeat;
  background-size: cover;

  padding: 26em 0em;
}

/* .topFirst-container  */
.page-wrap .topFirst-container .insidetopFirst-container {
  background-color: transparent;
  padding-top: 10em;
  position: absolute;
  top: 103px;
  left: 35px;
  border-radius: 5px 30px 30px 5px;
  z-index: 2;
}

.topFirst-container h2 {
  font: bold;
  font-size: 55px;
  border-radius: 20% 25% 20% 24%;
  -webkit-animation: 1.5s highlight 1.5s 1 normal forwards;
  animation: 1.5s highlight 1.5s 1 normal forwards;
  background-color: none;
  background: linear-gradient(90deg, #fffafa 50%, rgba(255, 255, 255, 0) 50%);
  background-size: 200% 100%;
  background-position: 100% 0;
}
.topFirst-container h4 {
  padding-left: 1em;
  font-size: 25px;
  border-radius: 20% 25% 20% 24%;
  -webkit-animation: 1.5s highlight 1.5s 1 normal forwards;
  animation: 1.5s highlight 1.5s 1 normal forwards;
  background-color: none;
  background: linear-gradient(90deg, #fffafa 50%, rgba(255, 255, 255, 0) 50%);
  background-size: 200% 100%;
  background-position: 100% 0;
}
.topFirst-container .insidetopFirst-container span {
  font-size: 25px;
  border-radius: 20% 25% 20% 24%;
  -webkit-animation: 1.5s highlight 1.5s 1 normal forwards;
  animation: 1.5s highlight 1.5s 1 normal forwards;
  background-color: none;
  background-size: 200% 100%;
  background-position: 100% 0;
}

.topFirst-container .btn-container {
  display: flex;
  justify-content: center;
  text-align: center;
}

.welcome-container {
  max-width: 40%;
  display: flex;
  background-color: transparent;
  position: absolute;
  padding-top: 7em;
  left: 35px;
  top: 266px;
  z-index: 6;
}
/* background  random colors --rgb */
.BGR {
  color: #19dcea;
}
@-webkit-keyframes color-change-2x {
  0% {
    background: #19dcea;
  }
  100% {
    background: #b22cff;
  }
}
@keyframes color-change-2x {
  0% {
    background: #19dcea;
  }
  100% {
    background: #b22cff;
  }
}

.page-wrap .topFirst-container .chart-image {
}
.page-wrap .topFirst-container .chart-image:after {
}

.card h1 {
  font-weight: normal;
}
.card h1 p {
  width: 65%;
  padding: 7px;

  border-radius: 20% 25% 20% 24%;

  -webkit-animation: 1.5s highlight 1.5s 1 normal forwards;
  animation: 1.5s highlight 1.5s 1 normal forwards;
  background-color: none;
  background: linear-gradient(90deg, #fffafa 50%, rgba(255, 255, 255, 0) 50%);
  background-size: 200% 100%;
  background-position: 100% 0;
}
@-webkit-keyframes highlight {
  to {
    background-position: 0 0;
  }
}

@keyframes highlight {
  to {
    background-position: 0 0;
  }
}
.card a {
  text-decoration: none;
  font-weight: bold;
  background: linear-gradient(135deg, rgba(43, 171, 217, 1) 0%, rgba(0, 130, 200, 1) 100%);
  -webkit-background-clip: text;
  color: transparent;
}
/* Scroller styling */
.scroller {
  height: 1.2em;
  line-height: 1.2em;
  position: relative;
  overflow: hidden;
  width: 10em;
  border-radius: 20% 25% 20% 24%;
  -webkit-animation: 1.5s highlight 1.5s 1 normal forwards;
  animation: 1.5s highlight 1.5s 1 normal forwards;
  background-color: none;
  background: linear-gradient(90deg, #fffafa 50%, rgba(255, 255, 255, 0) 50%);
  background-size: 200% 100%;
  background-position: 100% 0;
}
.scroller > span {
  position: absolute;
  top: 0;
  animation: slide 5s infinite;
  font-weight: bold;
  color: #3a3;
}
@keyframes slide {
  0% {
    top: 0;
  }
  25% {
    top: -1.2em;
  }
  50% {
    top: -2.4em;
  }
  75% {
    top: -3.6em;
  }
}

.logo-holder {
  width: 180px;
  height: 220px;
  position: relative;
  margin: 0 auto;
  padding-top: 12px;
  padding-bottom: 24px;
  -webkit-transform: translateZ(0);
}

.bg {
  position: absolute;
  top: 9px;
  left: 8px;
  right: 8px;
  bottom: 8px;
  background-size: contain;
  -webkit-filter: drop-shadow(0px 6px 25px rgba(0, 0, 0, 0.5));
}

.bar {
  position: relative;
  height: 8px;
  background: #6a6a6a;
  width: 0%;
  top: 0px;
  left: 18px;
  margin-top: 8px;
  box-shadow: 0 0 3px rgba(192, 192, 192, 0.9);
  animation: fill 5s infinite alternate, colors 5s infinite alternate;
}

.bar.fill1 {
  animation: fill-1 5s infinite alternate, colors 5s infinite alternate;
}

.bar.fill2 {
  animation: fill-2 5s infinite alternate, colors 5s infinite alternate;
}

.bar.fill3 {
  animation: fill-3 5s infinite alternate, colors 5s infinite alternate;
}

.bar.fill4 {
  animation: fill-4 5s infinite alternate, colors 5s infinite alternate;
}

.bar.fill5 {
  animation: fill-5 5s infinite alternate, colors 5s infinite alternate;
}

.bar.fill6 {
  animation: fill-6 5s infinite alternate, colors 5s infinite alternate;
}

@keyframes fill {
  0% {
    width: 0;
  }
  33% {
    width: 30px;
  }
  66% {
    width: 10px;
  }
  100% {
    width: 105px;
  }
}

@keyframes fill-1 {
  0% {
    width: 0;
  }
  33% {
    width: 50px;
  }
  66% {
    width: 20px;
  }
  100% {
    width: 130px;
  }
}

@keyframes fill-2 {
  0% {
    width: 0;
  }
  33% {
    width: 90px;
  }
  66% {
    width: 70px;
  }
  100% {
    width: 136px;
  }
}

@keyframes fill-3 {
  0% {
    width: 0;
  }
  33% {
    width: 50px;
  }
  66% {
    width: 24px;
  }
  100% {
    width: 109px;
  }
}

@keyframes fill-4 {
  0% {
    width: 0;
  }
  33% {
    width: 98px;
  }
  66% {
    width: 34px;
  }
  100% {
    width: 99px;
  }
}

@keyframes fill-5 {
  0% {
    width: 0;
  }
  33% {
    width: 30px;
  }
  66% {
    width: 10px;
  }
  100% {
    width: 148px;
  }
}

@keyframes fill-6 {
  0% {
    width: 0;
  }
  33% {
    width: 48px;
  }
  66% {
    width: 22px;
  }
  100% {
    width: 140px;
  }
}

@keyframes colors {
  0% {
    background-color: #5a5a5a;
  }
  50% {
    background-color: #3a3;
  }
  100% {
    background-color: #6a6a6a;
  }
}
.content-container {
  z-index: 2;
  background-color: white;
}

.content-container .about-container {
  background-color: rgb(151, 151, 151);
  padding: 4.5em 5em;
  text-align: center;
  padding-top: 5em;
  overflow: hidden;
  direction: rtl;
  text-align: start;
  position: relative;
  z-index: 5;
  -webkit-border-top-left-radius: 80px;
  -webkit-border-top-right-radius: 80px;
  -moz-border-radius-topleft: 80px;
  -moz-border-radius-topright: 80px;
  border-top-left-radius: 80px;
  border-top-right-radius: 80px;
}

.content-container .about-container b {
  text-decoration: none;
  height: 3px;
  border-bottom: 6px solid #e6a0fa;
}

.DocumentationiIcons-wraper {
  padding: 5em;
  background-color: rgb(255, 255, 255);
  background-repeat: no-repeat;
  background-image: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255)),
    linear-gradient(rgb(248, 248, 248), rgb(248, 248, 248));
  background-position: top;
  background-size: 100% 80%, 100%, 50%;
}

.DocumentationiIcons-wraper .spec-icons-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  -webkit-text-size-adjust: 100%;
  color: #333;
  font-family: Ploni aaa, sans-serif;
  font-size: 14px;
  line-height: 20px;
  box-sizing: border-box;
  background-color: rgba(20, 66, 41, 0);
  border-radius: 15px;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
  display: flex;
}
.DocumentationiIcons-wraper .DocumentationiIcons-header {
  display: flex;
  justify-content: center;
  direction: rtl;
  align-items: center;
  flex-wrap: wrap;
}
.DocumentationiIcons-wraper .DocumentationiIcons-header .Empty-border-botoom {
  padding-top: 1.5em;
  margin-right: 1.5em;
  width: 30%;
  border-bottom: 6px solid #e6a0fa;
  margin-right: 15px;
}
.DocumentationiIcons-wraper .spec-icons-wrapper .icon-txt-wrapper {
  -webkit-text-size-adjust: 100%;
  color: #333;
  font-family: Ploni aaa, sans-serif;
  font-size: 14px;
  line-height: 20px;
  box-sizing: border-box;
  width: 32%;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 11px 0;
  display: flex;
}
.feature-icon {
  font-size: 35px;
}

.errow-icon {
  padding: 5px 0;
  font-size: 55px;
}
.feature-img {
  -webkit-text-size-adjust: 100%;
  color: #333;
  font-family: Ploni aaa, sans-serif;
  font-size: 14px;
  line-height: 20px;
  box-sizing: border-box;
  border: 0;
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
  width: 130px;
  padding: 6px;
  transition: all 0.2s;
}

.wraperOne-section {
  direction: rtl;
  background-color: rgb(255, 255, 255);
  background-repeat: no-repeat;
  background-image: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255)),
    linear-gradient(rgb(248, 248, 248), rgb(248, 248, 248));
  /* background-position: 0px 0 0px 50%; */
  background-position: 0px 0px, 0px 50%;
  background-size: 100% 50%, 100%, 50%;
}
.wraperTwo-section {
  direction: rtl;
  background-color: rgb(255, 255, 255);
  background-repeat: no-repeat;
  background-image: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255)),
    linear-gradient(rgb(248, 248, 248), rgb(248, 248, 248));
  background-position: bottom;
  background-size: 100% 75%, 100%, 50%;
}
.content-container .introduction-containerFirst {
  display: flex;
  flex-wrap: wrap-reverse;
  padding: 3em 3em;
  justify-content: center;
}
.content-container .introduction-containerFirst .left-container {
  align-items: center;
  max-width: 70%;
}
.content-container .introduction-containerFirst .left-container .car-icons {
  width: 150%;
  display: flex;
  justify-content: End;
}
.content-container .introduction-containerFirst .left-container .car-icons ul {
  display: flex;
  list-style: none;
  padding-top: 3em;
}
.content-container .introduction-containerFirst .left-container .car-icons ul li {
  padding-left: 1em;
  font-size: 35px;
  color: #3a3;
}
/* car-icons-right */
.car-icons-right {
  width: 100%;
  display: flex;
  justify-content: End;
  position: absolute;
}
.car-icons-right ul {
  display: flex;
  list-style: none;
  padding-top: 3em;
}
.car-icons-right ul li {
  padding-left: 1em;
  font-size: 35px;
  color: #b22cff;
  z-index: 0;
}
/* car-icons-right-sec */
.car-icons-right-sec {
  width: 100%;
  display: flex;
  justify-content: End;
  position: absolute;
  z-index: 0;
}
.car-icons-right-sec ul {
  display: flex;
  list-style: none;
  padding-top: 3em;
}
.car-icons-right-sec ul li {
  padding-left: 1em;
  font-size: 35px;
  color: #5a5a5a;
  z-index: 0;
}
/* car-icons-left-sec */
.car-icons-left-sec {
  width: 100%;
  display: flex;
  justify-content: start;
  position: absolute;
  z-index: 0;
}
.car-icons-left-sec ul {
  display: flex;
  list-style: none;
  padding-top: 3em;
}
.car-icons-left-sec ul li {
  padding-left: 1em;
  font-size: 35px;
  color: #ffff66;
  z-index: 0;
}

.describe-containerFirst {
  opacity: 0;
  transition: opacity 1s ease;
  background-color: white;
  padding: 2.5em;
  border-radius: 25px;
  position: relative;
  z-index: 5;
}
.describe-containerFirst.visible {
  opacity: 1;
}

.content-container .introduction-containerFirst .right-container {
}
/* classes for the topics and lorem   --->         */
.TContent {
  font-feature-settings: 'kern';
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  font-family: WoltHeading-October, -apple-system, BlinkMacSystemFont, Roboto, 'Segoe UI', Arimo, 'Open Sans',
    'Helvetica Neue', sans-serif;
  font-variant-ligatures: common-ligatures;
  font-size: 2em;
  line-height: 3.5rem;
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  text-transform: none;
}
.about-wraper {
  will-change: transform;
  transform: translateX(-50%);
  transition: transform 0.5s ease;
}
.about-wraper.afterAbout {
  transform: translateX(0);
}
.about-lorem {
  font-feature-settings: 'kern';
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, 'Segoe UI', Arimo, 'Open Sans', 'Helvetica Neue',
    sans-serif;
  font-style: normal;
  font-stretch: normal;
  text-transform: none;
  font-weight: 400;
  font-size: 1.35rem;
  line-height: 1.43;
  color: rgb(32, 33, 37);
}

.TTcontent {
  font-feature-settings: 'kern';
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, 'Segoe UI', Arimo, 'Open Sans', 'Helvetica Neue',
    sans-serif;
  font-style: normal;
  font-stretch: normal;
  text-transform: none;
  font-weight: 450;
  font-size: 23px;
  line-height: 1.43;
  display: block;
  max-width: 48rem;
  margin: 0px auto;
  color: rgb(32, 33, 37);
}

.marker {
  border-radius: 20% 25% 20% 24%;
  -webkit-animation: 1.5s highlight 1.5s 1 normal forwards;
  animation: 1.5s highlight 1.5s 1 normal forwards;
  background-color: none;
  background: linear-gradient(90deg, #ffff66 50%, rgba(255, 255, 255, 0) 50%);
  background-size: 200% 100%;
  background-position: 100% 0;
}

.content-container .introduction-containerFirst .right-container h3 {
}

.content-container .introduction-containerSeconed {
  background-color: rgb(255, 255, 255);
  background-repeat: no-repeat;
  background-image: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255)),
    linear-gradient(rgb(248, 248, 248), rgb(248, 248, 248));
  background-position: top;
  background-size: 100% 46%, 100%, 50%;
}
.content-container .introduction-containerSeconed .left-container {
  display: flex;
  justify-content: center;
  text-align: center;
}
.content-container .introduction-containerSeconed .left-container .image-containerSeconed {
}

.content-container .introduction-containerSeconed .right-container .describe-containerSeconed {
}

.image-containerFirst img {
  padding: 3em 0em;
}
.content-container .introduction-containerSeconed {
  display: flex;
  justify-content: center;
  background-color: red;
  flex-wrap: wrap;
  padding: 3em 3em;
}

.content-container .introduction-containerSeconed .left-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.content-container .introduction-containerSeconed .right-container {
  max-width: 100%;
  text-align: start;
  align-items: center;
  padding: 5em 5em;
}

.image-containerSeconed img {
  padding: 3em 0em;
}

/* 1380 px --- screen width */
@media screen and (max-width: 900px) and (-webkit-min-device-pixel-ratio: 2) {
  .page-wrap .topFirst-container .insidetopFirst-container {
    background-color: transparent;
  }

  .welcome-container {
    width: 100%;
    text-align: start;
    left: 35px;
    background-color: transparent;
  }

  .logo-holder {
    display: none;
  }
  .introduction-containerSeconed {
    display: flex;
    justify-content: center;
    text-align: start;
    align-items: start;
  }
  .content-container .introduction-containerSeconed .right-container {
    padding-right: 0px;
    padding-left: 0px;
  }
  .right-container {
  }

  /* changing the settings of the small images!!!!!! */
  .image-containerFirst img {
    margin-left: 5em;
  }
  .content-container .introduction-containerFirst {
    display: flex;
    flex-wrap: nowrap;
    margin-top: 0;
    padding: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .content-container .introduction-containerFirst .left-container {
    width: 100%;
    padding: 0px;
  }

  .image-containerSeconed img {
  }
  .TContent {
    line-height: 1.2em;
  }
  .TTcontent {
    padding-top: 1em;
    font-size: 13px;
  }
  .content-container .about-container {
    background-color: rgb(151, 151, 151);
    padding: 4.5em 15px;
    text-align: center;
    padding-top: 5em;
    overflow: hidden;
    direction: rtl;
    text-align: start;
    position: relative;
    z-index: 5;
    -webkit-border-top-left-radius: 80px;
    -webkit-border-top-right-radius: 80px;
    -moz-border-radius-topleft: 80px;
    -moz-border-radius-topright: 80px;
    border-top-left-radius: 80px;
    border-top-right-radius: 80px;
  }

  .about-lorem {
    padding-top: 1em;
    width: 100%;
  }
  .DocumentationiIcons-wraper .DocumentationiIcons-header {
    padding-top: 3em;
  }
  .DocumentationiIcons-wraper .DocumentationiIcons-header .Empty-border-botoom {
    width: 100%;
    margin-right: 0;
  }
}
/* max screen width 391px */
@media screen and (max-width: 391px) and (-webkit-min-device-pixel-ratio: 1) {
  .DocumentationiIcons-wraper .DocumentationiIcons-header {
    padding-top: 3em;
    text-align: center;
  }
  .DocumentationiIcons-wraper .DocumentationiIcons-header .Empty-border-botoom {
    width: 60%;
    margin-right: 0;
  }
}
