
/* Main Font Famiily ! --->    font-family: Ploni aaa,sans-serif;
 */
*{
  padding: 0;
  margin: 0;
}

.page-wrap{
    height: 800px;
}

.page-wrap .topFirst-container{
    position: sticky;
    overflow: hidden;
    top: 0;
    height: 90px;

    z-index: 3;
    
   max-width: 100%;
    background-image: url("/public/assets/pexels-fauxels-3183197.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   
   padding: 26em 0em;
}


/* .topFirst-container  */
.page-wrap .topFirst-container .insidetopFirst-container{
/* background-color: #FBEAEB; */
background-color: transparent;
padding-top: 10em;
position: absolute;
top: 103px;
left: 35px;
/* max-width: 100%; */
/* margin: 0 15em; */
/* padding: 3em 4em; */

border-radius:5px 30px 30px 5px;

/* position: static; */
/* top: 50%; */
z-index: 2;
}

.topFirst-container h2{
  font: bold;
  font-size: 55px;
/* text-align: center; */

}
.topFirst-container h4{
    /* text-align: center; */
    padding-left: 1em;

font-size: 25px;

}
.topFirst-container span{
    /* text-align: center; */
    padding-left: 4em;
    font-size: 25px;



}

.topFirst-container .btn-container{
display: flex;
justify-content: center;
text-align: center;


}

/* moved to nav  ------start*/
/* .insideNavTopFirst .btn-container button{
    
    background-color: white; 
    border: none;
    color: #4CAF50;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}

.insideNavTopFirst .btn-container button:hover {

    background-color: #4CAF50; 
    color: white; 
    border: 2px solid #4CAF50;
  } */
  .welcome-container{
    max-width:40%;
    display: flex;

    
    /* background-color: #EE4E34; */
    background-color: transparent;
    /* padding: 4em 7em; */
    position: absolute;
    /* position: relative; */
    /* padding-top: 115px; */
    padding-top: 7em;
    left: 35px;
    top: 266px;
    /* position: fixed; */
    z-index: 6;
    

} 

/* meed to fix................................ */
.card h1 {
  font-weight: normal;
}
.card a {
  text-decoration: none;
  font-weight: bold;
  background: linear-gradient(135deg, rgba(43,171,217,1) 0%, rgba(0,130,200,1) 100%);
  -webkit-background-clip: text;
  color: transparent;
}
/* body {
  background: #FCE97F;
  animation: fadeBackground 6s;
  animation-fill-mode: forwards;
}
@keyframes fadeBackground {
  from { background-color: #FCE97F; }
  to { background-color: #2EB07B; }
} */

/* .card {
  position: absolute;
  background-color: #F8F8F8;
  border-radius: 1.5em;
  min-width: 400px;
  max-width: 1170px;
  width: 30%;
  padding: 2.6em 3.8em;
  cursor: pointer;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 40%;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1), 
    0 8px 8px rgba(0, 0, 0, 0.1),
    0 16px 16px rgba(0, 0, 0, 0.1), 
    0 32px 32px rgba(0, 0, 0, 0.15),
    0 64px 64px rgba(0, 0, 0, 0.15);
} */
/* .note::after {
  content: '';
  width: 20%;
  height: 2px;
  border-radius: 999px;
  background-color: #AFAFAF;
  background: linear-gradient(135deg, rgba(43,171,217,1) 0%, rgba(0,130,200,1) 100%);
  position: absolute;
  top: -1.8em;
  left: 0;
} */
/* .note {
  font-size: 0.8em;
  color: #8A8A8A;
  position: relative;
  margin-top: 4em;
} */

/* Scroller styling */
.scroller {
  height: 1.2em;
  line-height: 1.2em;
  position: relative;
  overflow: hidden;
  width: 10em;
}
/* .scroller span{
color: #3a3;
} */
.scroller > span {
  position: absolute;
  top: 0;
  animation: slide 5s infinite;
  font-weight: bold;
  color: #3a3;

  
}
@keyframes slide {
  0% {
    top: 0;
  }
  25% {
    top: -1.2em;
  }
  50% {
    top: -2.4em;
  }
  75% {
    top: -3.6em;
  }
}

/* moved to nav  ------end ------*need some fixing */
.logo-holder {
  /* background: #f2f2f2; */
  width: 180px;
  height: 220px;
  position: relative;
  margin: 0 auto ;
  padding-top: 12px;
  padding-bottom: 24px;
  -webkit-transform: translateZ(0);
}

.bg {

position: absolute;
top: 9px;
left: 8px;
right: 8px;
bottom: 8px;
/* background: url(http://boutique.flarework.com/wp-content/themes/boutique/img/logo_large.png) center 0px no-repeat ; */
  background-size: contain;
  -webkit-filter: drop-shadow(0px 6px 25px rgba(0,0,0,0.5));
}

.bar {
  position: relative;
  height: 8px;
  background: #6a6a6a;
  width:  0%;
  top: 0px;
  left: 18px;
  margin-top: 8px;
  box-shadow: 0 0 3px rgba(192,192,192,0.9);
  animation: fill 5s infinite alternate, colors 5s infinite alternate;
}

.bar.fill1 {
animation: fill-1 5s infinite alternate, colors 5s infinite alternate;
}

.bar.fill2 {
 animation:  fill-2 5s infinite alternate, colors 5s infinite alternate;
}


.bar.fill3 {
 animation:  fill-3 5s infinite alternate, colors 5s infinite alternate;
}


.bar.fill4 {
 animation:  fill-4 5s infinite alternate, colors 5s infinite alternate;
}

.bar.fill5 {
 animation:  fill-5 5s infinite alternate, colors 5s infinite alternate;
}

.bar.fill6 {
 animation:  fill-6 5s infinite alternate, colors 5s infinite alternate;
}



@keyframes fill {
0%   { width: 0; }
33%  { width: 30px;}
66%  { width: 10px;}
100% { width: 105px; }
}

@keyframes fill-1 {
0%   { width: 0; }
33%  { width: 50px;}
66%  { width: 20px;}
100% { width: 130px; }
}

@keyframes fill-2 {
0%   { width: 0; }
33%  { width: 90px;}
66%  { width: 70px;}
100% { width: 136px; }
}

@keyframes fill-3 {
0%   { width: 0; }
33%  { width: 50px;}
66%  { width: 24px;}
100% { width: 109px; }
}

@keyframes fill-4 {
0%   { width: 0; }
33%  { width: 98px;}
66%  { width: 34px;}
100% { width: 99px; }
}

@keyframes fill-5 {
0%   { width: 0; }
33%  { width: 30px;}
66%  { width: 10px;}
100% { width: 148px; }
}


@keyframes fill-6 {
0%   { width: 0; }
33%  { width: 48px;}
66%  { width: 22px;}
100% { width: 140px; }
}

@keyframes colors {
0% { background-color: #5a5a5a;}
50% { background-color: #3a3;}
100% { background-color: #6a6a6a;}
}
.content-container{

    /* for the content container: */
    /* position: relative; */
        /* margin-top: 100px;  */
        /* Adjust the margin to match the height of the image container */
        z-index: 2;
    /* background-color: #FBEAEB; */
    background-color: white;
}




.content-container .about-container{
  /* width: 100%; */
  background-color: rgb(151, 151, 151);
  padding: 4.5em 5em;
  text-align: center;
  padding-top: 5em;

  overflow: hidden;
  direction: rtl;
  text-align: start;
  position: relative;
z-index: 5;
-webkit-border-top-left-radius: 80px;
  -webkit-border-top-right-radius: 80px;
  -moz-border-radius-topleft: 80px;
  -moz-border-radius-topright: 80px;
  border-top-left-radius: 80px;
  border-top-right-radius: 80px;
}



/* ---------------------------------------------- */
 /* .BDIKA{
    display: flex;
    flex-direction: column;
    justify-content: center;

    -webkit-text-size-adjust: 100%;
    color: #333;
    font-family: Ploni aaa,sans-serif;
    font-size: 14px;
    line-height: 20px;
    box-sizing: border-box;
   
    margin-left:25% ;
    width: 50%;

    height: auto;
    background-color: #256442;
    padding: 51px;
  } */
.DocumentationiIcons-wraper{
/* background-color: green; */
/* margin-top: 70em; */
padding: 5em;
/* background-color: rgb(255, 255, 255);
background-repeat: no-repeat;
background-image:linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255)), linear-gradient(rgb(248, 248, 248), rgb(248, 248, 248));
background-position: 0px 0px, 0px 50%;
background-size:100% 50%, 100%, 50% ; */
background-color: rgb(255, 255, 255);
background-repeat: no-repeat;
background-image: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255)), linear-gradient(rgb(248, 248, 248), rgb(248, 248, 248));
/* background-position: 0px 0, 0px 50%; */
background-position:top ;
background-size: 100% 80%, 100%, 50%;


}

 .DocumentationiIcons-wraper .spec-icons-wrapper{

  

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
        -webkit-text-size-adjust: 100%;
        color: #333;
        font-family: Ploni aaa,sans-serif;
        font-size: 14px;
        line-height: 20px;
        box-sizing: border-box;
        background-color: rgba(20,66,41,0);
        border-radius: 15px;
        flex-wrap: wrap;
        justify-content: space-between;
        padding: 20px;
        display: flex; 
        
    }
    .DocumentationiIcons-wraper .spec-icons-wrapper .icon-txt-wrapper{
    
          -webkit-text-size-adjust: 100%;
          color: #333;
          font-family: Ploni aaa,sans-serif;
          font-size: 14px;
          line-height: 20px;
          box-sizing: border-box;
          width: 32%;
          flex-direction: column;
          align-items: center;
          text-align: center;
          padding: 11px 0;
          display: flex;
          
      }
      /* .features-txt{
      } */
      .feature-icon{
        font-size: 35px;

      }

      .errow-icon{
    
        padding: 5px 0 ;
      font-size: 55px;
        /* background-color: red; */
      }
      .feature-img{
    
          -webkit-text-size-adjust: 100%;
          color: #333;
          font-family: Ploni aaa,sans-serif;
          font-size: 14px;
          line-height: 20px;
          box-sizing: border-box;
          border: 0;
          max-width: 100%;
          vertical-align: middle;
          display: inline-block;
          width: 130px;
          padding: 6px;
          transition: all .2s;
      }
      
      /* -webkit-text-size-adjust: 100%;
      color: #333;
      font-family: Ploni aaa,sans-serif;
      font-size: 14px;
      line-height: 20px;
      box-sizing: border-box;
      width: 100vw;
      margin-left: auto;
      margin-right: auto;
      height: auto;
      background-color: #ce4c13;
      display: flex; */
    
    
          {/* <div class="seporator-fill-line"></div> */}
      /* -webkit-text-size-adjust: 100%;
      color: #333;
      font-family: Ploni aaa,sans-serif;
      font-size: 14px;
      line-height: 20px;
      box-sizing: border-box;
      height: 2px;
      background-color: #eda84a;
      flex: 1;
      margin-right: 14px; */
.wraperOne-section{

  
    /* background-color: rgb(255, 255, 255);
    background-repeat: no-repeat;
    background-image:linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255))
    ,   linear-gradient(rgb(248, 248, 248), rgb(248, 248, 248));
    background-position:0% 50% 0% 0%;
    background-size:100% 50%, 100%, 100% ; */
    /* background-color: red; */
    direction: rtl;
    background-color: rgb(255, 255, 255);
    background-repeat: no-repeat;
    background-image: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255)), linear-gradient(rgb(248, 248, 248), rgb(248, 248, 248));
    /* background-position: 0px 0 0px 50%; */
    background-position:center ;
    background-size: 100% 39.8%, 100%, 50%;
}
.wraperTwo-section{
    /* background-color: rgb(255, 255, 255);
    background-repeat: no-repeat;
    background-image:linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255))
    ,   linear-gradient(rgb(248, 248, 248), rgb(248, 248, 248));
    background-position:0% 50% 0% 0%;
    background-size:100% 50%, 100%, 100% ; */
    /* background-color: red; */
    direction: rtl;
    background-color: rgb(255, 255, 255);
    background-repeat: no-repeat;
    background-image: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255)), linear-gradient(rgb(248, 248, 248), rgb(248, 248, 248));
    /* background-position: 0px 0, 0px 50%; */
    background-position:bottom ;
    background-size: 100% 75%, 100%, 50%;
}
.content-container .introduction-containerFirst{
display: flex;
flex-wrap: wrap-reverse;
/* margin-top:4em ; */
padding: 3em 3em;
 justify-content: center;


}
.content-container .introduction-containerFirst .left-container{
  align-items: center;
  /* text-align: center;
  background-color: red; */
  

  /* border-top: 2px solid black;
  border-top-style:dotted; */

    max-width: 70%;
    /* max-width: 70%; */
    /* padding: 5em 5em; */
}
/* .content-container .introduction-containerFirst .left-container  */
.describe-containerFirst{
  opacity: 0;
  transition: opacity 1s ease;
} 
.describe-containerFirst.visible {
  opacity: 1;
} 


.content-container .introduction-containerFirst .right-container{
 
}
/* classes for the topics and lorem   --->*/
.TContent{
  font-feature-settings: "kern";
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  font-family: WoltHeading-October, -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", Arimo, "Open Sans", "Helvetica Neue", sans-serif;
  font-variant-ligatures: common-ligatures;
  font-size: 2em;
  line-height: 3.5rem;
  font-weight: 700;
  font-style: normal;
  font-stretch: normal;
  text-transform: none;

  
  
}
.about-wraper{
  /* לפעמים גולש לפעמים לא צריך לבדוק!!! */
  /* will-change: transform; */
  transform: translateX(100%);
  transition: transform 0.5s ease;
}
.about-wraper.afterAbout{
  transform: translateX(0);
        }

.TTcontent{
  font-feature-settings: "kern";
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
    font-family: -apple-system, BlinkMacSystemFont, Roboto, "Segoe UI", Arimo, "Open Sans", "Helvetica Neue", sans-serif;
    font-style: normal;
    font-stretch: normal;
    text-transform: none;
    font-weight: 400;
    font-size: 1.75rem;
    line-height: 1.43;
    display: block;
    max-width: 48rem;
    margin: 0px auto;
    text-align: center;
    color: rgb(32, 33, 37);

}

.content-container .introduction-containerFirst .right-container h3{
}


.content-container .introduction-containerSeconed{

  /* background-color: red; */
  background-color: rgb(255, 255, 255);
  background-repeat: no-repeat;
  background-image: linear-gradient(rgb(255, 255, 255), rgb(255, 255, 255)), linear-gradient(rgb(248, 248, 248), rgb(248, 248, 248));
  /* background-position: 0px 0, 0px 50%; */
  background-position:top ;
  background-size: 100% 46%, 100%, 50%;
}
.content-container .introduction-containerSeconed .left-container{
  display: flex;
  justify-content: center;
  text-align: center;

}
.content-container .introduction-containerSeconed .left-container .image-containerSeconed{

}

.content-container .introduction-containerSeconed .right-container{
    
}
.content-container .introduction-containerSeconed .right-container .describe-containerSeconed{

/* background-color: red; */
}

.image-containerFirst img{
    padding: 3em 0em;
}
/* @media only screen and (max-width: 1380) {
    .left-container{
        padding: 5em 6em;
    }
    body {
        background-color: lightblue;
      }
  } */
  


  .content-container .introduction-containerSeconed{
    display: flex;
    justify-content: center;
    background-color: red;
    flex-wrap: wrap;
    padding: 3em 3em;
    }


    .content-container .introduction-containerSeconed .left-container{
      width: 100%;
      display: flex;
      justify-content: center;
       
    }


    .content-container .introduction-containerSeconed .right-container{
        max-width: 100%;
        text-align: center;
        align-items: center;
        /* justify-content: center; */
        padding: 5em 5em;
    }
  
    .image-containerSeconed img{
        padding: 3em 0em;
    }

/* 1380 */
    @media screen and (max-width: 769px ) {
      .page-wrap .topFirst-container .insidetopFirst-container{
       
       background-color: transparent;
       color: white;

      }
    
      .welcome-container{
        /* margin-top: 7.5em; */
        
        width: 100%;
        text-align: start;
        /* padding: 7em 0 0 5em; */
        left: 35px;
        top: 320px;
        background-color: transparent;
      
        color: white;
        /* padding-right: 5em; */
  
        }
        
     
        
       
        
     
      .introduction-containerSeconed{
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
      }
      
      
        .right-container{
       /* max-width: 1%; */
        /* background-color: red */
         
       }

       /* changing the settings of the small images!!!!!! */
        .image-containerFirst img{
        /* padding: 0 15em; */
        margin-left: 5em ;
        }  
        
        .content-container .introduction-containerFirst .left-container{
    
      padding: 0px;
       
    }

        .image-containerSeconed img{
            /* margin-left: 5em ; */

        }
        .TContent{
              line-height: 1.2em;
        }
        .TTContent{
              padding-top: 1em;
        }
        
      }

      