.navBar-Main{
   display: flex;
  position: sticky;
  /* background-color: white; */
  position: fixed;
  z-index: 15;
  width:  100%;
  background-color: #5a607e  ;
  justify-content: center;
  /* padding: 1em 0em; */
  padding-left: 2em;
  /* padding-right: 7em; */
  justify-content: space-between;
}
.navBar-Main h1{

   background-color: red;
   text-align: center;
   padding-left: 9%;

   
}

.navBar-Main .insideNavTopFirst-container{
   display: flex;
   /* background-color: red; */
   justify-content: right;
   align-items: center;
   /* padding-left: 22em; */
     padding-right: 3.5em;

        } 
               /*btn nav  */
               .insideNavTopFirst-container .btn-container button{
    
                  background-color: white; 
                  border: none;
                  color: #4CAF50;
                  padding: 5px 32px;
                  text-align: center;
                  text-decoration: none;
                  display: inline-block;
                  /* font-size: 16px; */
                  /* margin: 4px 2px; */
                  transition-duration: 0.4s;
                  cursor: pointer;
              }
              
              .insideNavTopFirst-container .btn-container button:hover {
              
                  background-color: #4CAF50; 
                  color: white; 
                  border: 2px solid #4CAF50;
                }
              

        @media screen and (max-width: 525px) {
         
         .navBar-Main{
            display: flex;
           position: sticky;
           /* background-color: white; */
           position: fixed;
           z-index: 15;
           width:  100%;
           background-color: #5a607e  ;
           justify-content: center;
           /* padding: 1em 0em; */
           padding-left: 1em;
           /* padding-right: 7em; */
           justify-content: space-between;
         }
         .navBar-Main h1{
         
            background-color: red;
            text-align: center;
            padding-left: 5%;
         
            
         }
         
         .navBar-Main .insideNavTopFirst-container{
            display: flex;
            /* background-color: red; */
            justify-content: right;
            align-items: center;
            /* padding-left: 22em; */
              padding-right: 2.5em;
         
                 } 
                 .btn-container{
                  /* padding-left: 5em;
                      color: green; */
                 }
                        /*btn nav  */
        .insideNavTopFirst-container .btn-container button{
    
         background-color: white; 
         border: none;
         color: #4CAF50;
         padding: 8px 5px;
         text-align: center;
         text-decoration: none;
         display: inline-block;
         /* font-size: 16px; */
         margin: 4px 2px;
         transition-duration: 0.4s;
         cursor: pointer;
     }
     
     .insideNavTopFirst-container .btn-container button:hover {
     
         background-color: #4CAF50; 
         color: white; 
         border: 2px solid #4CAF50;
       }
     
        }
        

 