.navBar-Main {
  display: flex;
  position: sticky;
  position: fixed;
  z-index: 15;
  width: 100%;
  background-color: #5a607e;
  justify-content: center;
  padding-left: 2em;
  justify-content: space-between;
}
.navBar-Main h1 {
}

.navBar-Main .insideNavTopFirst-container {
  display: flex;
  justify-content: right;
  align-items: center;
  padding-right: 3.5em;
}
/*            Nav Button             */
.insideNavTopFirst-container .btn-container button {
  background-color: white;
  border: none;
  color: #4caf50;
  padding: 5px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 20px;
}

.insideNavTopFirst-container .btn-container button:hover {
  border-radius: 10px;
  background-color: #4caf50;
  color: white;
  border: 2px solid #4caf50;
}

@media screen and (max-width: 525px) {
  .navBar-Main {
    display: flex;
    position: sticky;
    position: fixed;
    z-index: 15;
    width: 100%;
    background-color: #5a607e;
    justify-content: center;
    padding-left: 1em;
    justify-content: space-between;
  }
  .navBar-Main h1 {
  }

  .navBar-Main .insideNavTopFirst-container {
    display: flex;
    width: 50%;
    justify-content: right;
    align-items: center;
    padding-right: 1.5em;
  }
  .btn-container {
    width: 100%;
  }
  /*            Nav Button             */
  .insideNavTopFirst-container .btn-container button {
    background-color: white;
    width: 45%;
    border: none;
    color: #4caf50;
    padding: 8px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }

  .insideNavTopFirst-container .btn-container button:hover {
    background-color: #4caf50;
    color: white;
    border: 2px solid #4caf50;
  }

  .insideNavTopFirst-container .btn-container .r1 {
  }
}

@media screen and (max-width: 347px) {
  #disapeare-on-small-sizes {
    display: none;
  }
  .navBar-Main {
    max-width: 100%;
  }
  .navBar-Main .insideNavTopFirst-container {
    display: flex;
    width: 40%;
    justify-content: right;
    align-items: center;
    padding-right: 2.5em;
  }
  .btn-container {
    width: 100%;
  }
  /*            Nav Button             */
  .insideNavTopFirst-container .btn-container button {
    background-color: white;
    width: 100%;
    border: none;
    color: #4caf50;
    padding: 8px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
}
