.content-logo {
  position: relative;
  width: 174px;
  height: 61px;
  padding: 1em;
  margin-left: 1em;
  color: #090303;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
}

.content-logo svg {
  position: absolute;
  top: 0;
  right: 0;
  width: 52px;
  height: 32px;
  color: #33363f;
}
.content-logo .logo {
  position: absolute;
  top: 0;
  left: 50px;
  width: 174px;
  height: 55px;
  padding-top: 6px;
  color: #33363f;
}

@media screen and (max-width: 525px) {
  .content-logo svg {
    position: absolute;
    top: 0;
    right: 50px;
    width: 52px;
    height: 32px;
    color: #33363f;
  }
  .content-logo .logo {
    position: absolute;
    top: 0;
    left: 0px;
    width: 174px;
    height: 55px;
    padding-top: 6px;
    color: #33363f;
  }
}
