.mainClient-page {
}
.mainClient-page .registerWraper-conatiner {
}
.mainClient-page .registerWraper-conatiner .content-client-header {
  display: flex;
  justify-content: space-evenly;
  direction: rtl;
}
.mainClient-page .registerWraper-conatiner .content-client-header p {
}
.mainClient-page .registerWraper-conatiner .registerClient-page-title {
}
.mainClient-page .registerWraper-conatiner .registerClient-page-title h2 {
}
.mainClient-page .registerWraper-conatiner form {
}
#errorbox {
  color: red;
}
.form-group {
  position: relative;
  box-sizing: border-box;
}

.password-input-container {
}

.password-input-container input[type='password'] {
  padding-right: 2.5rem; /*                                     Make space for the toggle button */
}

.show-passwordd {
  position: absolute;
  top: 50%;
  left: 10%;
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 1rem;
}

.register-btn-Container {
  padding-top: 12px;
}

.hoverMe {
  color: #0096ff;
}

.hoverMe:hover {
  border-bottom: 1px solid #0096ff;
}
