.Remove-Modal{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.over-flow-existingOrders{
    overflow-y: auto; 
    border: 3px solid white; 
height:150px; 
}
.over-flow-oldOrders {
overflow-y: auto;  
height:250px;
border: 3px solid white;  
}