.page-wraper{

}

.page-wraper .mainClient-page-wraper {

}
.page-wraper .mainClient-page-wraper .mainClient-page {

}
.page-wraper .mainClient-page-wraper .mainClient-page .clientbuttonContainer-client {
    
}
.page-wraper .mainClient-page-wraper .mainClient-page .clientbuttonContainer-client .clientNewOrderPage{

    padding-top:5em ;
}


 #WokerType{

    width: 25em;
}

.bootmCalender-container{
    display: flex;
    flex-direction: column;
    
}

#Calender{
margin-top: 3em;
}