.mainAddWorker-Page{
  display: flex;
  flex-direction: column;
  /* justify-content: stretch; */
  position: relative;
  z-index: 0;
  padding-top: 1em;
  /* margin-top: 5em; */
  /* background-color: rgb(64, 23, 23); */
justify-content: center;
align-items: center;
text-align: center;
}

.mainAddWorker-Page form{
  /* max-width: 100%; */
  margin-top:  10em;
  padding:  0 7em;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
   align-items: center;
   text-align: center;
  /* background-color: green; */
}
.mainAddWorker-Page form input{
max-width: 100%;
text-align: end;

}

/* not in used for now */  
#W1 {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #555;
  outline: none;
}

#W1:focus {
  background-color: lightblue;
}
/* not in used for now */
#W2 {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #555;
  outline: none;
}

#W2:focus {
  background-color: lightcoral;
}

#W3 {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #555;
  outline: none;
}

#W3:focus {
  background-color: lightgreen;
}

  
  .Worker-list-cintainer{
    /* margin-top: 8em; */
    padding-top: 8em;
  }


  
  @media screen and (max-width: 880px) {
  
.mainAddWorker-Page{
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 0;
  /* padding: 10em; */
  /* margin-top: 5em; */
  /* background-color: rgb(64, 23, 23); */
justify-content: center;
align-items: center;
text-align: center;
}

.mainAddWorker-Page form{
  /* max-width: 100%; */
  margin-top:  5em;
  padding:  0 6em;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
   align-items: center;
   text-align: center;
  /* background-color: green; */
}
.mainAddWorker-Page form input{
max-width: 100%;
text-align: end;

}

/* not in used for now */  
#W1 {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #555;
  outline: none;
}

#W1:focus {
  background-color: lightblue;
}
/* not in used for now */
#W2 {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #555;
  outline: none;
}

#W2:focus {
  background-color: lightcoral;
}

#W3 {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #555;
  outline: none;
}

#W3:focus {
  background-color: lightgreen;
}

  }