.mainAddWorker-Page{
  display: flex;
  flex-direction: column;
  /* justify-content: stretch; */
  position: relative;
  z-index: 0;
  padding-top: 1em;
  /* margin-top: 5em; */
  /* background-color: rgb(64, 23, 23); */
justify-content: center;
align-items: center;
text-align: center;
}

.mainAddWorker-Page form{
  /* max-width: 100%; */
  margin-top:  7em;
  padding:  0 7em;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
   align-items: center;
   text-align: center;
  /* background-color: green; */
}
.mainAddWorker-Page form input{
max-width: 100%;
text-align: end;

}

/* not in used for now */  
#W1 {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #555;
  outline: none;
}

#W1:focus {
  background-color: lightblue;
}
/* not in used for now */
#W2 {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #555;
  outline: none;
}

#W2:focus {
  background-color: lightcoral;
}

#W3 {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #555;
  outline: none;
}

#W3:focus {
  background-color: lightgreen;
}
  
  .Worker-list-container{
    padding-top: 5em;
    display: flex;
    flex-direction: column;
  
    text-align: center;
    align-items: center;
    /* justify-content: c; */
    /* background-color: red; */
    width: 100%;
     /* the diraction of the fonts */
  direction: rtl
    /* max-width: 40%; */
  }
  
  .Worker-list-container .main-worker-list-container{
    /* background-color: red; */
  display: flex;
  /* justify-content: center; */
  text-align: start;
  /* direction: rtl; */
  align-items: center;
  flex-direction: column;
  /* justify-content: center; */
  /* padding: 1em 0; */
  padding-bottom: 18.5em;
  width: 100%;
  }
  /* .Worker-list-container .main-worker-list-container .workers-list{
    width: 100%;
    display: flex;
    justify-content: center;
  
   } */
  /* .Worker-list-container .main-worker-list-container .workers-list form{
    display: flex;
    flex-direction: row;
    justify-content: center;
  
   } */
  /* .Worker-list-container .main-worker-list-container .workers-list input[type=text] {
    background-color: #3CBC8D;
    color: white;
    direction: ltr;
  } */
  /* .Worker-list-container .main-worker-list-container .workers-list button { */
    /* background-color: #3CBC8D; */
    /* color: white; */
  /* } */
   .Worker-list-container .main-worker-list-container  table{
    margin-top: 20px;
    width: 45%;
    max-width: 100%;
    border-top: 1px solid black;
    border-right: 1px solid black;
  }

  
  .Worker-list-container .main-worker-list-container  table tr{
  }
  .Worker-list-container .main-worker-list-container .workers-list table td{
    text-align: start;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    background-color: lightyellow;

  } 
  
  #btnAddRemove{
    width: 5%;
  }
  
  #WorkerCompanyNames{
    width: 12%;
  }
  /* etiting conatiner 3 third component */

   .Editing-container{
    background-color: grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1em;
    width: 60%;
    left: 20%;
    position: absolute;
    /* text-align: center; */
   }
  
   .Editing-container input{
     max-width: 80%;
   }
  
  
   .Editing-container button{
    /* font-size: 12px; */
    font-family: 'Courier New', Courier, monospace;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    padding: 0.5em;
  }
   
 
  
  @media screen and (max-width: 880px) {
  
.mainAddWorker-Page{
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 0;
  /* padding: 10em; */
  /* margin-top: 5em; */
  /* background-color: rgb(64, 23, 23); */
justify-content: center;
align-items: center;
text-align: center;
}

.mainAddWorker-Page form{
  /* max-width: 100%; */
  margin-top:  5em;
  padding:  0 6em;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
   align-items: center;
   text-align: center;
  /* background-color: green; */
}
.mainAddWorker-Page form input{
max-width: 100%;
text-align: end;

}

/* not in used for now */  
#W1 {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #555;
  outline: none;
}

#W1:focus {
  background-color: lightblue;
}
/* not in used for now */
#W2 {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #555;
  outline: none;
}

#W2:focus {
  background-color: lightcoral;
}

#W3 {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 1px solid #555;
  outline: none;
}

#W3:focus {
  background-color: lightgreen;
}


.Worker-list-container{
  display: flex;
  flex-direction: column;

  text-align: center;
  align-items: center;

  width: 100%;

direction: rtl
 
}

.Worker-list-container .main-worker-list-container{
  background-color: red;
display: flex;
justify-content: center;
/* padding-top: 1em; */
width: 100%;
padding-bottom: 18.5em;

}

  }