 .subTitle-company{
    width: 70%;
    /* background-color: blue; */
    /* max-width: 100%; */
 }
 .subTitle-company .companySubTitle-conatiner{
    display: flex;
    justify-content: center;
    /* background-color: #ff0000; */
    

   /* width: 100%;
   max-width: 100%; */
   

}


.subTitle-company .companySubTitle-conatiner ul{
    width: 100%;
    display: flex;
   
    justify-content: space-around;
   /* background-color: black; */


}

.subTitle-company .companySubTitle-conatiner ul li{
    position: relative;
    padding: 1em;
list-style: none;
/* color: crimson; */
color: gainsboro;
text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}

.subTitle-company .companySubTitle-conatiner ul li:hover{

list-style: none;
/* color: crimson; */
position: relative;
/* color: darkgray  ; */

border-radius: 1px;

background-color: grey;
border-radius: 10px;
text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}
.subTitle-company .companySubTitle-conatiner ul li h3{
} 
 

/* max-width 645px change */
/* @media screen and (max-width: 757px) {
    .companySubTitle-conatiner{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
       
        box-shadow: inset 6em 1em gold; 
    }
    .companySubTitle-conatiner ul{
        display: flex;
        flex-wrap: wrap;
        
  

      
    }
    .companySubTitle-conatiner ul li{
    list-style: none;
 
        color: coral;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

    }
    .companySubTitle-conatiner ul li h3{

    }
    
    

}



@media screen and (max-width: 470px) {
    .companySubTitle-conatiner{
        background-color: white;
    }
    .companySubTitle-conatiner ul{
        display: flex;
        flex-direction: column;
        
        padding: 0;
        
    }
   
    .companySubTitle-conatiner ul li{
       
    }

} */



.T{
    text-decoration: none;
    font-family: Ploni aaa,sans-serif;
    font-size: 17px;
}
.main{
    color:white;
    border-radius:10px;
    background-color:grey;
    text-decoration: none;
}