
.mainCompanyPage-container {
    /* background-color: red; */
    }

.mainCompanyPage-container .content-wraper{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    /* flex-flow: column wrap; */

     
    align-items: center;
    text-align: center;
   /* background-color: red; */
   padding: 7em 0em  ;

}
.mainCompanyPage-container .content-wraper .content-title{
    display: flex;
    text-align: center;
    background-color: red;
}
.mainCompanyPage-container .content-wraper .main-statistics-page{
width: 80%;

display: flex;
justify-content: center;

flex-direction: row;

/* flex-wrap: wrap ; */

justify-content: center;
    align-items: center;

}
.mainCompanyPage-container .content-wraper .main-statistics-page .TotalAmmount{
    background-color: rebeccapurple;
    padding: 1em;
  
    width: 30%;
    max-width: 100%;

       
    border: 1px solid rgba(255, 255, 255, .25);
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.45);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
  
    backdrop-filter: blur(15px);

   
} 
.statistics-page{
    display: flex;
    justify-content: center;
    /* background-color: green; */
        width: 60%;
        max-width: 100%;
    padding: 3em 5em  ;
}
/* .statistics-page  .TotalAmmount{
    background-color: rebeccapurple;
    padding: 1em;
    
    border: 1px solid rgba(255, 255, 255, .25);
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.45);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
  
    backdrop-filter: blur(15px);

} */
.money--statistics{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;

    background-color: pink;
    max-width: 80%;
    width: 100%;

padding: 1em;
display: flex;
}
.money--statistics table{
/* width: 100%; */
background-color: burlywood;
border-radius: 30px;
padding: 5em;

}
.money--statistics table tr{
background-color: aquamarine;

}
.money--statistics table tr td{
/* width: 100%; */
padding: 1.9em;
direction: ltr;
border: none;
}

/* canvas{
    width: 500px;
} */


/* .money--statistics .TotalAmmount{
    background-color: rebeccapurple;
    padding: 1em;
    
} */



.mainCompanyPage-container .components-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    box-sizing: border-box;

    /* background-color: blue; */
    max-width: 100%;
    width: 100%;
display: flex;
align-items: center;
justify-content: center;
/* padding: 1em; */
}
.mainCompanyPage-container .components-list .list {
    max-width: 60%;
    /* padding: 2em; */
    margin: 0.5em;
    padding: 0.4em;
   
    background-color: whitesmoke;

    border-radius: 30px;

text-align: center;
/* background-color: lightcoral; */
border: 1px solid black;

/* padding: 1em; */
}