.main-ordeList-container{
    padding-top: 1.5em;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    /* the diraction of the fonts */
    direction: rtl;
}
.main-ordeList-container .orderReceipts-container{
    margin-top: 5em ;
    margin-bottom: 1.9em;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /* padding-top: 1em; */

    /* the diraction of the fonts */
    direction: rtl;
}
.main-ordeList-container .orderReceipts-container table{
    margin-top: 20px;
    width: 80%;
    max-width: 100%;
    border: 1px solid black;
}
#Active{
    background-color: #90EE90    ;
}
/* #B{
    margin-top: 5em;
   
} */
/* font-family: 'Open Sans Hebrew';

width: 100%;
border-collapse: collapse;
border-style: hidden;
border-top-style: none;
font-size: 14px; */

/* table {
    width: 80%;
    max-width: 100%;
    border: 1px solid black;
  } */
  
  .main-ordeList-container .orderReceipts-container table th {
    height: 70px;
    /* border: 1px solid black; */

  }
  .main-ordeList-container .orderReceipts-container table  td{
    border: 1px solid black;

  }

  /* min width 552 */
  @media screen and (max-width: 552px) {
    .main-ordeList-container{
        display: flex;
        justify-content: center;
    }
    
    .orderReceipts-container{
        /* background-color: red; */
        max-width: 100%;
        overflow-x: auto;
        

    }
  }