.main-statistics-page-wraper{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    align-items: center;
    text-align: center;
   /* background-color: red; */
   padding: 7em 0em  ;

}
.main-statistics-page{
    display: flex;
    justify-content: center;
    /* background-color: green; */
        width: 60%;
    padding: 3em 0em  ;

}


.money--statistics{

}
.money--statistics-list{

}
.money--statistics-list table{
        padding: 10px;

    width: 100%;
    direction: rtl;
    border: 1px solid black;
    /* border-right: 1px solid black;
    border-bottom: 1px solid black; */

    


}
.money--statistics-list table tr{

    
}
.money--statistics-list table tr th{
border: 1px solid salmon;
    
}
.money--statistics-list table tr{

    
}
.money--statistics-list table tr td{ 
    /* padding: 5px; */
   border: 1px solid black;

  

}
/* canvas{
    width: 500px;
} */