
.main-statistics-page-wraper{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    align-items: center;
    text-align: center;
   /* background-color: red; */
   padding: 7em 0em  ;

}
.main-statistics-page{
width: 100%;
display: flex;
flex-direction: column;
justify-content: center;



    align-items: center;
    /* text-align: center; */

  /* align-items: center;
    text-align: center; */

}
.statistics-page{
    display: flex;
    justify-content: center;
    /* background-color: green; */
        width: 60%;
    padding: 3em 5em  ;
}

.money--statistics{
/* width: 100%; */
padding: 1em;
display: flex;
}
.money--statistics table{
/* width: 100%; */
background-color: burlywood;
border-radius: 30px;
padding: 5em;

}
.money--statistics table tr{
background-color: aquamarine;

}
.money--statistics table tr td{
/* width: 100%; */
padding: 1.9em;
direction: ltr;
border: none;
}

/* canvas{
    width: 500px;
} */